/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 20/09/2018, 22:01:58
    Author     : prohgy
*/

.highlight {
    background: #d5f4e6  !important ;
}
.highlight2 {
    background: #f2ffcc  !important ;
}            

